.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 100px);
	grid-gap: 20px; 
	justify-content: left;
	justify-items: center;
	z-index: 50;

}

.grid-item-1 {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	font-size: 2.2em;
	color: white;
	text-decoration: underline;
}

.icons {
	width: 2.5em;
	height: 2.5em;
}

.icon-blue {
	width: 2.5em;
	height: 2.5em;
	border: .18em solid;
	border-radius: 50%;
	border-color: blue;
}

.icon-green {
	width: 2.5em;
	height: 2.5em;
	border: .18em solid;
	border-radius: 50%;
	border-color: green;
}
