.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 100px);
	grid-gap: 20px; 
	justify-content: left;
	justify-items: center;
	z-index: 50;

}

.grid-item-1 {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	font-size: 2em;
}

