.map {
	flex-shrink: 0;
	width: max-content;  
	z-index: 0;
}

.selector { 
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.select-button {
	margin-left: 40px;
	font-size: 1em;
	border: 3px solid #aaa;
	font-weight: 500;
	border-radius: 15%
}

.select-button:hover {
	border-color: white ;
}

#canvas {
	border: 2px solid black;
}

.btn-group button {

  padding: 10px 24px; /* Some padding */
  font-family: 'Open Sans', sans-serif;
  border-width: 3px; 
  border-style: solid; 
  border-color: #aaa;
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid #aaa;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}


.buttons {
	display: flex;
	justify-content: space-evenly;
	cursor: pointer; /* Pointer/hand icon */
}

.button {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 1px;
	padding-bottom: 20px;
	margin-top: 10px;
	border: 2px solid #aaa;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	cursor: pointer; /* Pointer/hand icon */
}

.button:hover {
	border-color: white;
}

.reset-button {
	height: 50px;
	width: 70px;
	border-width: 3px; 
	border-style: solid; 
	border-color: #aaa;
	padding-bottom: 1em;
	margin-top: 1em;
	text-align: center;
	font-size: 1em;
	line-height: 45px;
	font-family: sans-serif;
	font-weight: 500;
	border-radius: 15%;
	cursor: pointer; /* Pointer/hand icon */
	
}

.reset-button:hover {
	border-color: white;
}

.blue {
	background: blue;
}

.green {
	background: green;
}

.yellow {
	background: yellow;
}

.purple {
	background: purple;
}

